.app.dark {
  background-color: #08033B;
  color: #3BE7AF   ;

  .chartGrid {
    stroke: #3BE7AF;
  }

  .table {
    background-color: #08033B;

    .tableCell {
      color: #3BE7AF;
    }
  }

  .navbar {
    color: #3BE7AF;
    border-color: #3BE7AF;

    .search {
      border-color: #3BE7AF;
    }
  }

  .sidebar {
    background-color: #08033B;
    border-color: #3BE7AF;

    .top {
      .logo {
        color: #3BE7AF ;
      }
    }
    hr {
      border-color: #3BE7AF;
    }

    ul {
      li {
        &:hover {
          background-color: #713FFF ;
        }

        .icon {
          color: #3BE7AF;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: #3BE7AF;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: #3BE7AF;
        border: none;
      }
    }
  }

  input{
      background-color: transparent;
  }
}
